*{
    margin: 0;
    padding: 0;
}
.post{  
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    width: 800px;
    height: 1000px;    
}
.postheader{
    display: flex;
    background-color:whitesmoke;
    text-align: center;
    align-items: center;   
}
.paragraph-left{
    display: grid;
    grid-template-columns: 3, 1fr;
    padding: 10px;
}

.paragraph-right{
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: 30px;
}
.more-left{
    display: flex;
    margin-left: 20px;
}
.post-img{
    width: 800px;
    height: 540px;
    margin: 0;    
}
.img{
    max-width: 800px;
    max-height: 540px;
}
body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
}
.post-icons {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}
.icons-left{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 25px;
    margin-left: 20px;
}
.icons-right{
    display: flex;
    margin-right: 30px;
    margin-top: 10px;
}
.finaltext{
    background-color: whitesmoke;
    display: flex;
    padding: 20px;
}
.post-body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Liked {
    margin-left: 20px;
}